<!DOCTYPE html>
<head>
  <title>Forgot password?</title>
  <link
    id="favicon"
    rel="icon"
    type="image/png"
    href="/images/adpanel-dark.png"
  />
  <style>
    strong {
      background-color: gray;
      color: white;
    }
  </style>

  <script>
    const darkFavicon = "/images/adpanel-white.png";
    const lightFavicon = "/images/adpanel-dark.png";

    const darkApple = "/images/adpanel-white.png";
    const lightApple = "/images/adpanel-dark.png";
    function updateIcons() {
      const isDark = window.matchMedia("(prefers-color-scheme: dark)").matches;

      document
        .querySelectorAll('link[rel="icon"], link[rel="apple-touch-icon"]')
        .forEach((el) => el.remove());

      const linkFavicon = document.createElement("link");
      linkFavicon.rel = "icon";
      linkFavicon.type = "image/png";
      linkFavicon.href = isDark ? darkFavicon : lightFavicon;
      document.head.appendChild(linkFavicon);

      const linkApple = document.createElement("link");
      linkApple.rel = "apple-touch-icon";
      linkApple.type = "image/png";
      linkApple.href = isDark ? darkApple : lightApple;
      document.head.appendChild(linkApple);
    }

    updateIcons();

    window
      .matchMedia("(prefers-color-scheme: dark)")
      .addEventListener("change", updateIcons);
  </script>
</head>
<body>
  <html>
    <p>
      [Dashboard] Due to security reasons you can only reset your password
      directly from the terminal using the command
      <strong>bash initialize.sh</strong> from the adsetups directory.
    </p>
  </html>
</body>
