* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: url("https://cdn.pixabay.com/photo/2024/07/19/08/16/waves-8905720_1280.png") center/cover no-repeat;
  color: #abb2bf;
  padding: 20px
}

html, body { 
  width: 100%;
  height: 100%;
  overflow: hidden;
}

h1.title {
  position: fixed;
  z-index: 20;
  font-family: 'Inter' sans-serif;
  margin-left: 20px;
  color: white;
  margin-bottom: 50px;
  font-size: 20px;
  top: 1rem;
}

.start {
  position: fixed;
  color: white;
  text-align: center;
  font-family: "Bitcount";
  font-size: 40px;
  white-space: nowrap;
  top: 8rem;
  left: 50%;
  transform: translateX(-50%);
}

.start-description {
  position: fixed;
  color: #979c9c;
  font-family: sans-serif;
  font-size: 15px;
  white-space: nowrap;
  top: 11rem;
  left: 50%;
  transform: translate(-50%, -20%);
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20vh;
  gap: 0.5rem;
}

.pet {
  position: absolute;
  padding: 1.9rem;
  width: 100%;
  font-size: 1rem;
  background: #252733;
  box-shadow: 0 1px 6px rgba(0,0,0,0.10);
  box-sizing: border-box;
  left: 0;
  top: 0;
}

.upload-form {
  position: fixed;
  unset: all;
  top: 12rem;
  left: 50%;
  border-radius: 20px;
  white-space: nowrap;
  transform: translate(-50%);

  display: flex;
  justify-direction: column;
  align-items: center;
}

.upload-form input[type="file"] {
  margin: 20px;
  white-space: nowrap;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 20px;
  justify-content: center;
  margin-top: 250px;
  margin-left: 80px;
}

.server-box {
  background: #3e4451;
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
  width: 250px;
  transition: background 0.3s, transform 0.2s;

  display: flex;
  flex-direction: column;
  gap: 20px 20px 20px 20px;
}

.server-box:hover {
  transform: scale(0.9);
}

.server-header {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  color: #fff;
}

.server-icon {
  font-size: 20px;
}

.settings {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings i {
  position: fixed;
  font-size: 30px;
  color: #87CEEC;
  display: block;
  left: 96.5%;
  top: 16px;
  z-index: 100;

  display: flex;
  justify-content: center;
  align-items: center;
}

.settings:focus {
  outline: none;
}

.settings:hover i {
  color: #BAE5F8;
}

.upload {
  all: unset;
  border-radius: 20px;
  cursor: pointer;
  width: 100px;
  height: 30px;
  background-color: white;
  color: black;
  font-family: sans-serif;
  border: none;
  text-align: center;
  padding-left: 5px;
  white-space: nowrap;

  display: flex;
  justify-content: center;
  align-items: center;
}

.upload:hover {
  background-color: #CCCCCC;
  white-space: nowrap;
}
